<form action=/insert method=get>
  Enter Your Name        : <input type="text" name='contacts[name]'><br><br>
  Enter the Phone Number : <input type='number' name='contacts[number]'><br><br>
  Enter your email id    : <input type='email' name='contacts[email]'><br><br>
  <input type="submit">
</form>
