<form action=/option method=get>
<button name='option' value="insert_new">Insert</button>

<button name='option' value="delete">Delete</button>

<button name='option' value="view_all">View All</button>

</form>
